{% include "header.html" %}

<div class="col ">
    <div class="row">
        <div class="col">
        </div>

        <div class="col-auto border border-dark rounded">
            <div class="row pt-4" align="center">
                <h1>Register as a Creator</h1>
                <h5 class="my-3">Create new Songs, Albums and much more!</h5>
            </div>
            <div class="row py-5">
                <a href="/update_role" class="btn btn-dark mb-3 mx-auto my-4" role="button" aria-pressed="true" style="width:200px">
                    Create!
                </a>
            </div>
        </div>

        <div class="col">
        </div>
    </div>
</div>

{% include "footer.html" %}