<div class="row ms-5 border-bottom">
    <div class="col-3" align="right">
        <a class="dropdown-toggle"  style="font-size:2rem;" href="#" id="creator_dashboard" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-bars"></i>
                Creator Dashboard
        </a>
        <ul class="dropdown-menu" aria-labelledby="creator_dashboard">
            <li><a class="dropdown-item" href="/creator_dashboard"><i class="fa-solid fa-guitar"></i> Creator Dashboard</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/creator_dashboard/my_songs"><i class="fa-solid fa-music"></i> My Songs</a></li>
            <li><a class="dropdown-item" href="/creator_dashboard/my_albums"><i class="fa-solid fa-compact-disc"></i> My Albums</a></li>
            <li><a class="dropdown-item" href="/creator_dashboard/my_playlists"><i class="fa-solid fa-list-ul"></i> My Playlists</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/logout"><i class="fas fa-sign-out-alt fa-fw"></i> Log Out</a></li>
        </ul>

    </div>
    <div class="col-1 my-2">
    </div>
    <div class="col-4"></div>
    <div class="col-3" align="right">
        <a class="dropdown-toggle"  style="font-size:2rem;" href="#" id="create" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-circle-plus"></i>
             Create!
        </a>
        <ul class="dropdown-menu" aria-labelledby="create">
            <li><a class="dropdown-item" href="/upload_song_form"><i class="fa-solid fa-microphone-lines"></i> Upload a new song</a></li>
            <li><a class="dropdown-item" href="/create_album"><i class="fa-solid fa-compact-disc"></i> Create a new album</a></li>
        </ul>
    </div>
</div>