{% include "header.html" %}

<!--        Row 2 - Column 1-->
<div class="col-3">

<!--            Now Playing-->
    {% if song_to_stream %}
        <div class="row-2 position-fixed fixed-bottom mx-4 my-4" align="left">
            <div class="card border border-dark rounded" style="width: 13rem;">
                <h5 align="center">Now Playing</h5>

                {% if song_to_stream.cover %}
                    <img src="{{ song_to_stream.cover }}" style="max-width:200px; max-height:200px;" class="card-img-top mx-1" alt="..." align="center">
                {% else %}
                    <img src="/static/img/album_art.png" style="max-width:200px; max-height:200px;" class="card-img-top mx-1" alt="..." align="center">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title" align="center">{{ song_to_stream.title }}</h5>
                    <p class="card-text" align="center">{{ song_to_stream.singer }}</p>
                </div>
            </div>
        </div>
    {% endif %}
</div>

<!--        Row 2 - Column 2 -->
<div class="col-6">

    <div class="row border border-dark rounded">

        <div class="row ms-1 border-bottom border-dark">
            <h3>Complete album list:</h3>
        </div>

        <div class="row" align="center">

            {% for album in albums %}
                <div class="card mx-auto ms-2 my-1 song_list" style="max-width:50rem; max-height:4rem;" align="center">
                    <div class="row g-0">
                        <div class="col" align="center">
                            <form method="POST" action="user_dashboard">
                                <input type="hidden" name="song_id" value="{{ song.song_id }}">
                                <button class="fa-solid fa-circle-play" type="submit" name="stream"></button>
                            </form>
                        </div>
                        <div class="col-md-1">
                            <a href="/view_song/{{ song.song_id }}">
<!--                                place the line of code below to an if-else block-->
<!--                                <img src="/static/img/album_art.png" class="img-fluid rounded-start my-2" alt="..." style="max-height:3rem; max-width:3rem;" align="center">-->
                                <img src="{{ song.cover }}" class="img-fluid rounded-start my-2" alt="..." style="max-height:3rem; max-width:3rem;" align="center">
                            </a>
                        </div>
                        <div class="col-md-6">
                            <div class="card-body" align="left">
                                <a href="/view_song/{{ song.song_id }}">
                                    <h5 class="card-title mb-0">{{ song.title }}</h5>
                                </a>
                                <a href="/view_creator/{{ song.user_id }}">
                                    <p class="card-text mt-0 mb-0"><small class="text-body-secondary">{{ song.singer }}</small></p>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-4" align="right">
                            <form method="POST" action="{{ url_for('add_to_queue', song_id=song.user_id) }}">
                                <div class="row my-2 mx-2">
                                    <div class="col me-1">
                                        <div class="row" style="width:6rem;">
                                            <a href="/add_to_queue/{{ song.song_id }}" class="btn btn-light border"><i class="fa-solid fa-circle-plus"></i> Queue</a>
                                        </div>
                                    </div>
                                    <div class="col me-1">
                                        <div class="row" style="width:6rem;">
                                            <a href="/add_to_playlist/{{ song.song_id }}" class="btn btn-light border"><i class="fa-solid fa-circle-plus"></i> Playlist</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

    <div class="row">

<!--                Functionality for audio controls-->
        {% if song_to_stream %}
            <div class="row-auto">
                <audio controls class="d-none" id="audioElement" src="/{{ song_to_stream.file_path }}" autoplay>
                </audio>
            </div>
            <div class="position-fixed fixed-bottom" align="center">
                <div class="container">
                    <img src="\static\img\cassette_with_controls.png" alt="Controls" usemap="#controls" width="330" height="250">
                    <span style="position: absolute; top: 30%; left: 50%; transform: translate(-50%, -50%); color: black; font-size: 20px; font-weight: bold; font-family: 'Bradley Hand', cursive;">
                        {{ song_to_stream.singer }}
                    </span>
                    <span style="position: absolute; top: 36%; left: 50%; transform: translate(-50%, -50%); color: black; font-size: 16px; font-family: 'Bradley Hand', cursive;">
                        {{ song_to_stream.title}}
                    </span>
                    <span class="retro-font" style="position: absolute; top: 62%; left: 57%; transform: translate(-50%, -50%); color: black; font-size: 30px;">
                        {{ song_to_stream_duration}}
                    </span>
                </div>
                <map name="controls">
                    <area shape="rect" coords="29,14,72,40" alt="record" onclick="recordSong();" href="#">
                    <area shape="rect" coords="74,14,117,40" alt="prev" onclick="prevSong();" href="#">
                    <area shape="rect" coords="119,14,162,40" alt="stop" onclick="stopSong();" href="#">
                    <area shape="rect" coords="164,14,207,40" alt="pause" onclick="pauseAudio();" href="#">
                    <area shape="rect" coords="209,14,252,40" alt="play" onclick="playAudio();" href="#">
                    <area shape="rect" coords="254,14,297,40" alt="next" onclick="nextSong();" href="#">
                </map>
            </div>
        {% endif %}

    </div>
</div>

<!--              Column 3-->
<div class="col-2 ms-4">

</div>

{% include "footer.html" %}
