{% include "header.html" %}

<div class="col">
</div>

<!--Lower-middle column-->
<div class="col-auto border border-dark rounded">
    <div class="row pt-5" align="center">
      <h1>Kickstart your creators journey</h1>
      <h3>Start with uploading songs</h3>
    </div>
    <div class="row pt-4" align="center">
        <i class="fa-solid fa-angles-down"></i>
    </div>
    <div class="row pb-5">
        <a href="/upload_song_form" class="btn btn-dark mb-3 mx-auto my-4" role="button" aria-pressed="true" style="width:200px">
            <i class="fa-solid fa-circle-plus"></i>
        </a>
    </div>
</div>

<!--Lower-right column-->
<div class="col">

</div>

{% include "footer.html" %}
